body,
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background: #B3AC78;
    height: 100vh;
}

section {
    border: 1px solid black;
    border-radius: 5px;
    margin: 1rem 0;
    padding: 1rem 0;
}

.result-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.wpm-container,
.timer-container,
.accuracy-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.quote-container {
    border: 1px solid black;
    border-radius: 5px;
    padding: 1rem;
}

.input-container {
    border-radius: 5px;
    margin-top: 1rem;
    width: 100%;
}

.correct {
    background: green;
}

.incorrect {
    background: red;
    text-decoration: underline;
}

.accuracy-progress-wrapper,
.wpm-progress-wrapper {
    border: 1px solid black;
    border-radius: 5px;
    margin: 1rem 0;
    padding: 1rem;

    &.neutral {
        background: grey;
    }

    &.increase {
        background: green;
    }

    &.decrease {
        background: red;
    }
}