body,
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    margin: 1rem 0;
}

.result-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.wpm-container,
.timer-container,
.accuracy-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.input-container {
    margin-top: 1rem;
}