* {
    box-sizing: border-box;
}

:root {
    --primary-background-color: #38CCCC;
    --secondary-background-color: #99CCCC;
    --timer-color: #ffffff;
    --main-boder-radius: 15px;
    --success-color: #71df71;
    --warning-color: #ff2d2dc7;
    --neutral-color: #8080806b;
    --hover-color: #0d8181;
}


body,
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

body {
    height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 2rem 4rem;
    margin: 0;
    font-size: 20px;
}

section {
    background-color: var(--primary-background-color);
    border-radius: var(--main-boder-radius);
    margin: 1rem 0;
    padding: 2rem 1.5rem;
}

button {
    background-color: var(--primary-background-color);
    color: var(--timer-color);
    border: none;
    border-radius: var(--main-boder-radius);
    cursor: pointer;
    flex: 1;
    font-size: 1rem;
    min-width: 150px;
    margin: 0.5rem;
    padding: 1rem;

    &:hover {
        background-color: var(--hover-color);
    }

    &:disabled {
        background-color: var(--neutral-color);
        cursor: not-allowed;
    }
}

.result-container {
    display: flex;
    font-size: 1.5rem;
    width: 70%;
    justify-content: space-around;
}

.btn-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem 0;
}

.wpm-container,
.timer-container,
.accuracy-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.timer {
    color: var(--timer-color);
}

.quote-container {
    border: 2px solid #ff416d;
    border-radius: var(--main-boder-radius);
    font-size: 1.5rem;
    margin: 2rem;
    text-align: center;
    padding: 1rem;
    width: 100%;
}

.input-container {
    background-color: var(--secondary-background-color);
    border: none;
    border-radius: var(--main-boder-radius);
    font-size: 1rem;
    margin-top: 1rem;
    padding: 1rem;
    width: 100%;
}

.correct {
    background: var(--success-color);
}

.incorrect {
    background: var(--warning-color);
    text-decoration: underline;
}

.accuracy-progress-wrapper,
.wpm-progress-wrapper {
    border-radius: var(--main-boder-radius);
    margin: 1rem 0;
    padding: 1rem;

    &.neutral {
        background: var(--neutral-color);
    }

    &.increase {
        background: var(--success-color);
    }

    &.decrease {
        background: var(--warning-color);
    }
}

.table-wrapper {
    &.warning-message {
        font-size: 1.5rem;
    }
}