body,
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background: rgb(163, 214, 174);
    height: 100vh;
}

section {
    border: 1px solid black;
    border-radius: 5px;
    margin: 1rem 0;
    padding: 1rem 0;
}

.result-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.wpm-container,
.timer-container,
.accuracy-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.quote-container {
    border: 1px solid black;
    border-radius: 5px;
    padding: 1rem;
}

.input-container {
    border-radius: 1px solid black;
    border-radius: 5px;
    margin-top: 1rem;
}